:root {
    --one: #827081ff;
    --two: #aea3b0ff;
    --three: #c6d2edff;
    --four: #e3d0d8ff;
    --five: #e7e6f7ff;
}

/* Add a black background color to the top navigation */
body {
    background-color: var(--one);
}

a {
    font-family: novecento-sans;
}

.topnav {
    background-color: var(--two);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: var(--four);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--three);
    color: var(--five);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--five);
    color: var(--three);
}