/* Add a black background color to the top navigation */
body {
    background-color: #04151F;
}

a {
    font-family: novecento-sans;
}

.topnav {
    background-color: #432534;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #CF5C36;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #183A37;
    color: #CCA43B;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #CCA43B;
    color: #183A37;
}